.question_menu{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border : 2px solid black;
    width: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    gap: 10px;
    background-color: rgb(136, 202, 147);
}

.qbut{
    width: 100%;
}


.qbut button{
    width: 20%;
    height: 20%;
    border-radius: 5px;
    border: none;
}

.task_manager {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.column {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    flex: 1 1 calc(25% - 20px); /* 25% width minus 20px for margins */
    margin: 10px;
    padding: 20px;
    text-align: center;
}

ul li{
    list-style: none;
}